/*
Color Scheme:;
#BBDEF0;

#00A6A6;

#EFCA08;  EFDC7C;

#F49F0A;  F4A41A;

#FF614C;
*/

body {
    background-color: #EFDC7C;
}

.burger-pic {
   margin: 0 auto;
   /* left: 450px; */
}

img {
  width: 200px;
  height: 200px;
}


